.Intro {
    font-size: 60px;
}

.first {
    background-color: aquamarine;
}

.one {
    font-size: 18px;
}


.def {
    font-size: 20px;
    text-align: left;

}

.list {
    font-size: medium;
}

.blank {
    white-space: nowrap;
}

.second {
    background-color: lightyellow;
}


.two {
    font-size: 18px;
}

.third {
    background-color: lightsalmon;
}


.three {
    font-size: 18px;
}

.steps {
    padding-left: 5px;
    padding-top: 10px;
}

element style {
    list-style-type: decimal;
}

.approach {
    padding-left: 20px;
    padding-top: 10px;
}



.point {
    padding-left: 5px;
}

.last {
    font-size: 18px;
    padding-top: 20px;
}

.outro {
    padding-bottom: 20px;
}